## 0. Loading data

In [16]:
import pandas as pd
import numpy as np

In [17]:
data = pd.read_csv( 'kc_house_data.csv' )

## 1.Quantas casas estão disponíveis para compra?

In [20]:
len( data['id'].unique() )

21436

# 2.Quantos atributos as casas possuem?

In [4]:
len( data.drop( ['id','date'], axis=1).columns )

19

# 3.Quais são os atributos das casas?

In [5]:
data.drop( ['id','date'], axis=1 ).columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

# 4.Qual a casa mais cara?

In [6]:
data['id'][data.price == (data['price'].max())]

7252    6762700020
Name: id, dtype: int64

# 5.Qual a casa com o maior numero de quartos?

In [7]:
data['id'][data.bedrooms == (data['bedrooms'].max())]

15870    2402100895
Name: id, dtype: int64

# 6.Qual a soma total de quartos do conjunto de dados?

In [21]:
data.bedrooms.sum()

72854

# 7.Quantas casas possuem 2 banheiros?

In [9]:
len( data['bathrooms'][data.bathrooms == 2])

1930

# 8.Qual o preço médio de todas as casas no conjunto de dados?

In [22]:
np.round( data['price'].mean(), 2 )

540088.14

# 9. Qual o preço médio das casas com 2 banheiros?

In [39]:
np.round( data['price'][data.bathrooms == 2].mean(), 2)

457889.72

# 10.Qual o preço minimo entre as casas com 3 quartos?

In [51]:
data['price'][data.bedrooms == 3].min()

82000.0

# 11.Quantas casas possuem mais de 300 metros quadrados de sala de estar?

In [52]:

len( data['sqft_living'][data.sqft_living > 3229.17] )

2258

# 12.Quantas casas possuem mais de 2 andares?

In [58]:
len( data['floors'][data.floors > 2] )

782

# 13.Quantas casas possuem mais de 300 metros quadrados?

In [55]:
len( data['sqft_lot'][data.sqft_lot > 3229.17] )

19519

# 14.Quantas casas tem mais de dois quartos

In [28]:
len( data['bedrooms'][data.bedrooms > 2] )

18641

# 15.Quantas casas tem vista para o mar

In [60]:
len( data['waterfront'][data.waterfront == 1] )

163

# 16.Das casas com vista para o mar, quantas tem 3 quartos?

In [29]:
len( data['waterfront'][data.waterfront == 1][data.bedrooms == 3] )

64

# 17.Das casas com mais de 300 metros de sala de estar, quantas tem mais de 2 banheiros?

In [56]:
len( data['sqft_living'][data.sqft_living > 3229.17][data.bathrooms > 2] )

2201